* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom-modal {
  background-position: absolute !important;
  border-radius: 5% !important;
  overflow: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700;800&display=swap');

body {
	font-family: 'Poppins' !important;
}

ul {
  list-style: none;
  margin:0;
  padding:0;
}

.dropdown-toggle {
  padding-left: 5%;
  text-align: center;
  justify-content: center;
}

.dropdown-toggle::after {
  display: none !important; 
}

.dropdown-menu{
  flex-direction: column;
  text-align: center !important;

}

.landingPurple{
  background-color: #3B28AB;
}

.browse {
  color:black;
  font-weight: 600;
  font-size: 4vh;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.browse:hover {
  cursor: pointer;
  transform-origin: bottom left;
  transform: scale(1.05);
  transition: all 200ms ease-in-out;
}

.load {
  position: relative;
  display: inline-block;
  animation: bounce 1s infinite;
  animation-delay: calc(.1s * var(--i));
  }
  @keyframes bounce {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-5px)
    }
  }

  .customSpinner {
    color: #3B28AB;
    background-color: #3B28AB;
  }

  .imageFit {
    max-height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .inputContainer {
    width: 30%;
  }

  .cardHov:hover {
    cursor: pointer;
  }

  .allowScroll {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .bg {
    background-color:#D7E0FF;
    border-radius: 20px;
  }

  .bg:hover {
    cursor: pointer;
  }

  .imgCarousel {
    object-fit: cover;
  }

